
body {
    /* background-color: #dbf1f1; */
    background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    font-family: 'Edu QLD Beginner', cursive;
}

.shadow{
    font-size: 3rem;
     text-shadow: 3px 3px rgb(85, 18, 18) ;
}

h1 {
    color: #3120E0;
}

h3 {
    color: #3120E0;
}

h2 {
    color: #3120E0;
}

hr {
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 7px;
    width: 10%;
}

h4 {
    color: rgb(176, 12, 26);
    font-size: 25px;

}

.new{
    border-style: groove;
    border-width: 5px;
    border-color: black;
}