

body {
    /* background-color: #dbf1f1; */
    background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    
}

.manish{
    margin-left: 22px;
    margin-top: 33px;
}


.intro{
    float: left;
}



.manish{
    overflow: auto;
}

.img1{
    margin-right: 30px;


}


.shadow{
    font-size: 4rem;
     text-shadow: 3px 3px rgb(85, 18, 18) ;
     font-family: 'Lobster', cursive;
     
}

h1 {
    font-family: 'Lobster', cursive;
    color: #3120E0;

    
}

h3 {
    font-family: 'Lobster', cursive;
    color: #3120E0;
    font-size: 2rem;
    margin-left: 2rem;
    text-decoration: underline;
    
}

h2 {
    margin-left: 2rem;
    font-family: 'Lobster', cursive;
color: #3120E0;
text-decoration: underline;
font-size: 2rem;
   
}

hr {
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 7px;
    width: 10%;
}

h4 {
    font-family: 'Lobster', cursive;
    margin-left: 2rem;
    color: rgb(176, 12, 26);
    font-size: 25px;

}

.new{
    border-style: groove;
    border-width: 5px;
    border-color: black;
}

.contact{
    margin-left: 2rem;
}

p{
    font-size: 1.1rem;
}

.data{
    font-family: 'Oswald', sans-serif;
}

.idea{
    font-family: 'Pacifico', cursive;
}